/*
  Palette:
    Dark: #222020, rgb(34, 32, 32)
    (OLD DARK): #302e2e; rgb(48, 46, 46);
    Light: #f3f0f0;
    Link Hover: #3d3b3b;
    Blue: #42576B;
    Bright Blue: #2f7bc2;
  Fonts:
    Headings: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    Text: 'Montserrat', sans-serif;
*/

html {
  min-width: 278px;
}

body {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0 2% 0;
  margin: 0;
  font-size: 100%;
  background-color: #f3f0f0;
}

/* ###################### NAV BAR AND MENU ####################### */
.nav-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-width: 270px;
  height: 85px;
  padding: 0 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  color: #f3f0f0;
  background-color: rgba(34, 32, 32, 0.95);
  justify-content: space-between;
  align-items: center;
}

.nav-bar::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(15px) !important;
  backdrop-filter: blur(15px);
}

.nav-logo {
  width: 200px;
}

.nav-buttons {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-link {
  display: flex;
  width: 85px;
  height: 100%;
  min-height: 60px;
  padding: 0 2vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav-link:link, .nav-link:visited, .nav-link:active {
  color: #f3f0f0;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-image: linear-gradient(#222020,
   #3d3b3b,
   #3d3b3b,
   #3d3b3b,
   #222020);
  box-shadow: -5px 0 3px -3px #242222, 5px 0 3px -3px #242222;
}

.nav-buff {
  position: relative;
  width: 100%;
  height: 85px;
  margin-bottom: 0;
}

#mobile-menu-icon {
  display: none;
  cursor: pointer;
}


/* ################## INDEX PAGE ######################### */

/* HIGHLIGHT SECTION ***********************/
#feature-video {
  position: relative;
  top: -35px;
  width: 100%;
  min-width: 1515px;
}

.feature-backdrop {
  position: relative;
  overflow: hidden;
  height: min-content;
  max-height: 85vh;
  min-height: 460px;
}

/* GRAB BOX ****************/
.grab-box {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  min-width: min-content;
  height: min-content;
  padding: min(3%, 50px);
  text-align: center;
  background-color: rgba(0, 0, 0, 60%);
  border-radius: 3px;
  transition: background-color 0.5s;
}

.gb-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: max(2vw, 1.5em);
  color: #f3f0f0;
  text-transform: uppercase;
  word-spacing: 6px;
  text-shadow: 0 0 3px black;
}

.gb-button {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: max(1.3vw, 1em);
  font-weight: 700;
  color: #f3f0f0;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f3f0f0;
  text-shadow: 0 0 3px black;
  cursor: pointer;
  transition: background-color 0.5s;
}

/* MAIN SECTION ***************************/
.main-info_section {
  padding: 0 10%;
  margin: 7% 0;
}

.main-heading {
  margin-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: max(2.5vw, 1.8em);
  color: #222020;
}

.service-block {
  display: flex;
  min-height: 275px;
  margin: 5% 0;
}

.service-text_container {
  width: 65%;
}

.article-heading {
  margin: 0;
  margin-bottom: 2%;
  font-size: max(2vw, 1.5em);
  background-color: #42576B;
  color: #f3f0f0;
  padding: 1% 3%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.article-text {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-indent: 2em;
  line-height: 2em;
}

.service-img_container {
  width: 35%;
  border-radius: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Images */
#event-img {
  background-image: url("images/SERVICE_event.jpg");
}

#promotional-img {
  background-image: url("images/SERVICE_promotional.jpg");
}

#realEstate-img {
  background-image: url("images/SERVICE_real-estate.jpg");
}

#cinematography-img {
  background-image: url("images/SERVICE_cinematic.jpg");
}
/* --End Images-- */

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.heading-left {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(0 100%, 0 0, 100% 0, 97% 100%);
}

.heading-right {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(3% 100%, 0 0, 100% 0, 100% 100%);
}

.img-right {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(3% 100%, 25% 0, 100% 0, 100% 100%);
}

.img-left {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(0 100%, 0 0, 75% 0, 97% 100%);
}

.divider {
  margin: 0;
}

/* CONTACT FORM *****************************/
.contact-us_section {
  padding: 0 10%;
  margin-bottom: 10%;
}

#contact-head {
  margin-bottom: 0;
}

#contact-desc {
  margin-bottom: 5%;
  font-size: 1em;
  color:#42576B;
  text-align: center;
  text-indent: 0;
}

.form_container {
  display: grid;
  min-width: fit-content;
  padding-bottom: 300px;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  row-gap: 10%;
}

.span2 {
  grid-column: 1 / span 2;
}

.input-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  color: #42576B;
  font-weight: bold;
}

.text-box {
  width: 80%;
  height: 2em;
}

.select-box {
  width: 50%;
  min-width: 200px;
  height: 2.4em;
}

.text-field {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 12em;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}

.input-box {
  overflow: auto;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  border: none;
  box-shadow: inset 0 0 1px 1px #cac7c7,
    inset 0 1px 2px 1px #cac7c7,
    0 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
}

.input-box:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px #999797,
    inset 0 0 0 0 transparent,
    0 0 10px 2px #b9b6b6;
}

.required {
  color: red;
}

.submit-button {
  width: 15%;
  min-width: 100px;
  height: 8%;
  min-height: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  color: #fff;
  background-color: #42576B;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color:#6182a1;
}

.char-count {
  width: fit-content;
  margin: 3px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color:#888383;
}

.error-message {
  font-family:'Montserrat', sans-serif;
  color: red;
  font-size: initial;
  font-weight: normal;
}

.success-message {
  font-size: 1.2em;
  color: green;
}


/* ################## VIDEO PAGE ############################## */

.selector-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.selector_container {
  display: flex;
  gap: 2em;
}

.selector_dropdown {
  display: none;
  width: fit-content;
  height: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  background-color: #42576B;
}

.selector {
  padding: 0.6em 1.3em;
  margin-bottom: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  color:white;
  background-color: #42576B;
  border: none;
  outline: none;
  cursor: pointer;
}

#selector-default {
  background-color: #2f7bc2;
}

.video-grid {
  display: grid;
  margin-top: max(7%, 50px);
  grid-template-columns: repeat(auto-fit, minmax(225px, 400px));
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
}

.media-container {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px 0px #222020;
  cursor: pointer;
}

.video-container {
  min-width: 225px;
  max-width: 400px;
  aspect-ratio: 1 / 0.6;
}

.video-container:hover .play-button {
  width: 30%;
}

.play-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.media-backdrop {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  min-width: 278px;
  height: calc(100vh - 85px);
  min-height: 190px;
  background-color: rgba(34, 32, 32, 90%);
}

.video-box {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 90%;
  min-width: 225px;
  max-height: 80%;
  aspect-ratio: 16/9;
  margin-top: 35px;
  box-shadow: 0px 0px 15px 15px #000;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-out {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 9999;
  width: 5%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.x-out:hover {
  top: 0.5%;
  right: 0.5%;
  width: 6%;
}


/* ##################### PHOTOS PAGE ########################### */









/* ##################### ABOUT US PAGE ######################### */

.au-page {
  padding: 0 2%;
  margin: 2% 0;
}

.au_container {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  padding: 6%;
  color: #f3f0f0;
  background-color: #6182a1;
  border-radius: 10px;
}

.au-header-box {
  display: flex;
  padding-top: max(2vw, 30px);
  margin-bottom: max(7vw, 50px);
  align-items: center;
  justify-content: space-between;
}

.au-welcome-box {
  width: 50%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-style: italic;
  text-indent: 2em;
  line-height: 2em;
}

.au-welcome-box p {
  margin: 0;
}

.au-logo {
  max-width: 45%;
  min-width: 200px;
}

.au-small-box_container {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-bottom: max(8vw, 70px);
  justify-content: space-between;
}

.au-small-box {
  box-sizing: border-box;
  width: 30%;
  padding: max(3%, 15px);
  background-color: #42576B;
  box-shadow: 5px 5px #222020;
}

.au-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.au-text {
  font-family: 'Montserrat', sans-serif;
  text-indent: 2em;
  line-height: 1.5em;
}

.au-footer-box {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2em;
}


/* ###################### FOOTER ############################# */

.gap {
  margin-top: 100px;
}

.contact-info-box {
  float: left;
  margin-left: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #42576B;
}

.contact-info-label {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #222020;
  font-weight: bold;
}

.socialbox {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.social-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: max(1.2vw, 1.2em);
}

.icon_container {
  display: flex;
  gap: 15px;
}

.social-icon {
  width: 3vw;
  min-width: 30px;
}

/* Fixes offset due to icon size */
#youtube-icon {
  margin-top: 15%;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  text-align: center;
}


/* ####################### Utility ###################### */
.inc-word-space {
  word-spacing: 0.2em;
}

.italic {
  font-style: italic;
}

.larger-text {
  font-size: 1.5em;
}

.no-indent {
  text-indent: 0;
}

.scroll-buffer {
  scroll-margin-top: 105px;
}

.smaller-text {
  font-size: 0.8em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-link:link, .text-link:visited, .text-link:active {
  color: inherit;
}


/* ###################### MEDIA QUERIES ########################## */

/* SCREEN WIDTH >= 1000px *************************/
@media screen and (min-width: 1000px) {

  .grab-box:hover {
    background-color: rgba(0, 0, 0, 80%);
    border: 2px solid #f3f0f0;
  }
  
  .grab-box:hover .gb-button {
    color:#222020;
    background-color: #f3f0f0;
    text-shadow: 0 0 0;
  }
}


/* SCREEN WIDTH <= 1200px **********************/
@media screen and (max-width: 1200px) {

  .au-small-box_container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .au-small-box {
    width: 90%;
  }
}


/* SCREEN WIDTH <= 1000px ***************************/
@media screen and (max-width: 1000px) {

  /* NAV BAR **************/
  .nav-bar {
    flex-direction: column;
    justify-content: center;
  }

  .top-bar_container {
    position: fixed;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }

  #mobile-menu-icon {
    display: inline;
    font-size: 2rem;
  }

  .nav-buttons {
    position: absolute;
    top: 85px;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgba(56, 54, 54, 0.95);
    flex-direction: column;
  }

  .nav-buttons::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(15px) !important;
    backdrop-filter: blur(15px);
  }

  #nav-menu {
    display: none;
  }

  .nav-link {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }

  /* HIGHLIGHT SECTION *************/
  #feature-video {
    display: none;
  }

  .feature-backdrop {
    background-image: url("images/HIGHLIGHT_sunset_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  /* GRAB BOX ***************/
  .grab-box {
    height: max-content;
    background-color: rgba(0, 0, 0, 80%);
    border: 1px solid #f3f0f0;
  }

  .grab-box .gb-button {
    color:#222020;
    background-color: #f3f0f0;
    text-shadow: 0 0 0;
  }

  /* MAIN SECTION ***************/
  .service-block {
    display: block;
    min-height: min-content;
    padding: 7% 0;
  }

  .service-img {
    display: none;
  }

  .service-text_container {
    width: 100%;
  }

   .heading-left {
    clip-path: none;
  }

  .heading-right {
    clip-path: none;
  }

  .article-heading {
    margin-bottom: 6%;
    padding: 1% 5%;
    text-align: center;
    clip-path: polygon(0 100%, 3% 0, 97% 0, 100% 100%);
  }

  .article-text {
    text-align: left;
    text-indent: 1em;
    line-height: 1.5em;
  }
}


/* SCREEN WIDTH <= 840px ******************************/
@media screen and (max-width: 840px) {

  .au-header-box {
    flex-direction: column;
    gap: 50px;
  }

  .au-welcome-box {
    width: 100%;
    order: 2;
  }
}


/* SCREEN WIDTH <= 800px ********************************/
@media screen and (max-width: 800px) {

  .form_container {
    padding-bottom: 400px;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    row-gap: 5%;
  }
  
  .span2 {
    grid-column: 1 / span 1;
  }

  .text-field {
    box-sizing: border-box;
    overflow: auto;
    resize: none;
    width: 85%;
    height: 12em;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
  }

  .contact-info-box {
    float: none;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
  }
}


/* SCREEN WIDTH <= 600px ******************************/
@media screen and (max-width: 600px) {

  .selector-header {
    flex-direction: column;
    justify-content: space-around;
  }

  .selector_container {
    display: none;
  }

  .selector_dropdown {
    display: block;
  }
}


/* SCREEN WIDTH <= 405px *******************************/
@media screen and (max-width: 405px) {

  .article-text {
    font-size: 1em;
  }

  .au-welcome-box, .au-footer-box {
    font-size: 1em;
  }

  .au-small-box {
    width: 100%;
  }

  .larger-text {
    font-size: 1.3em;
  }
}


/* SCREEN WIDTH <= 278px *******************************/
@media screen and (max-width: 278px) {

  body {
    overflow-x: auto;
  }

  .nav-bar {
    position: relative;
    overflow: inherit;
    padding: 15px;
  }

  .top-bar_container {
    position: inherit;
    width: 100%;
  }

  .nav-buff {
    display: none;
  }
}


/* SCREEN HEIGHT <= 385px and WIDTH <= 1000px *********************/
@media screen and (max-height: 385px) and (max-width: 1000px) {

  .nav-buttons {
    height: calc(100vh - 85px);
    overflow-y: auto;
  }

  .nav-buttons::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
  }
}
