/*
  Palette:
    Dark: #222020, rgb(34, 32, 32)
    (OLD DARK): #302e2e; rgb(48, 46, 46);
    Light: #f3f0f0;
    Link Hover: #3d3b3b;
    Blue: #42576B;
    Bright Blue: #2f7bc2;
  Fonts:
    Headings: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    Text: 'Montserrat', sans-serif;
*/

html {
  min-width: 278px;
}

body {
  background-color: #f3f0f0;
  padding: 0;
  padding-bottom: 2%;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden; /*added*/
}

/* NAV BAR AND MENU ***********************/
.nav-bar {
  background-color: rgba(34, 32, 32, 0.95);
  width: 100%;
  min-width: 270px;
  height: 85px;
  color: #f3f0f0;
  position: fixed;
  top: 0;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  z-index: 9999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(15px) !important;
  backdrop-filter: blur(15px);
  z-index: -1;
}

.nav-logo {
  width: 200px;
  padding: 0 4vw;
}

.logo-link {
  width: min-content;
  height: max-content;
}

.nav-buttons {
  display: flex;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.nav-link {
  width: 8vw;
  height: 100%;
  min-height: 60px; /*added*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  text-align: center;
}

.nav-link:link, .nav-link:visited, .nav-link:active {
  text-decoration: none;
  color: #f3f0f0;
}

.nav-link:hover {
  background-image: linear-gradient(#222020,
   #3d3b3b,
   #3d3b3b,
   #3d3b3b,
   #222020);
  box-shadow: -5px 0 3px -3px #242222, 5px 0 3px -3px #242222;
  color: white;
}

.nav-buff {
  width: 100%;
  height: 85px;
  position: relative;
  margin-bottom: 0;
}

#services, #contact {
  scroll-margin-top: 105px;
}

#mobile-menu-icon {
  display: none;
  cursor: pointer;
}

/* ################## INDEX PAGE ######################### */

/* HIGHLIGHT SECTION ***********************/
#feature-video {
  width: 100%;
  min-width: 1515px;
  position: relative;
  top: -35px;
}

.feature-backdrop {
  height: min-content;
  max-height: 85vh;
  min-height: 460px;
  overflow: hidden;
  position: relative;
}

/* GRAB BOX ****************/
.grab-box {
  width: 30%;
  min-width: min-content;
  height: min-content;
  position: absolute;
  background-color: rgba(0, 0, 0, 60%);
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  padding: min(3%, 50px);
  text-align: center;
  transition: background-color 0.5s;
}

.gb-heading {
  color: #f3f0f0;
  font-size: max(2vw, 1.5em);
  opacity: 100%;
  text-transform: uppercase;
  word-spacing: 6px;
  text-shadow: 0 0 3px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gb-button {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  font-size: max(1.3vw, 1em);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #f3f0f0;
  border: 2px solid #f3f0f0;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-shadow: 0 0 3px black;
}

/* MAIN PAGE INFORMATION ***************************/
.main-info_section {
  padding: 0 10%;
  margin: 7% 0;
}

.main-heading {
  text-align: center;
  font-size: max(2.5vw, 1.8em);
  font-family: 'Montserrat', sans-serif;
  color: #222020;
  margin-bottom: 5%;
}

.service-block {
  display: flex;
  margin: 5% 0;
  min-height: 275px;
}

.service-text_container {
  width: 65%;
}

.article-heading {
  margin: 0;
  margin-bottom: 2%;
  font-size: max(2vw, 1.5em);
  background-color: #42576B;
  color: #f3f0f0;
  padding: 1% 3%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inc-word-space {
  word-spacing: 0.2em;
}

.article-text {
  margin: 0;
  text-indent: 2em;
  font-size: 1.2em;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif; 
}

.service-img_container {
  width: 35%;
  border-radius: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Images */
#event-img {
  background-image: url("images/SERVICE_event.jpg");
}

#promotional-img {
  background-image: url("images/SERVICE_promotional.jpg");
}

#realEstate-img {
  background-image: url("images/SERVICE_real-estate.jpg");
}

#cinematography-img {
  background-image: url("images/SERVICE_cinematic.jpg");
}
/* --End Images-- */

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.heading-left {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(0 100%, 0 0, 100% 0, 97% 100%);
}

.heading-right {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(3% 100%, 0 0, 100% 0, 100% 100%);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.img-right {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(3% 100%, 25% 0, 100% 0, 100% 100%);
}

.img-left {
  /* path: bottom-left -> top-left -> top-right -> bottom-right */
  clip-path: polygon(0 100%, 0 0, 75% 0, 97% 100%);
}

.divider {
  margin: 0;
}

/* CONTACT FORM *************************************/
.contact-us_section {
  padding: 0 10%;
  margin-bottom: 10%;
}

#contact-head {
  margin-bottom: 0;
}

#contact-desc {
  text-indent: 0;
  text-align: center;
  margin-bottom: 5%;
  font-size: 1em;
  color:#42576B
}

.form_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  row-gap: 10%;
  min-width: fit-content;
  padding-bottom: 300px;
}

.span2 {
  grid-column: 1 / span 2;
}

.input-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #42576B;
  font-weight: bold;
  font-size: 1.1em;
}

.text-box {
  width: 80%;
  height: 2em;
}

.select-box {
  width: 50%;
  min-width: 200px;
  height: 2.4em;
}

.text-field {
  width: 100%;
  height: 12em;
  resize: none;
  box-sizing: border-box;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-box {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  border: none;
  box-shadow: inset 0 0 1px 1px #cac7c7,
    inset 0 1px 2px 1px #cac7c7,
    0 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
  overflow: auto;
}

.input-box:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px #999797,
    inset 0 0 0 0 transparent,
    0 0 10px 2px #b9b6b6;
}

.required {
  color: red;
}

.submit-button {
  width: 15%;
  height: 8%;
  min-width: 100px;
  min-height: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  border: none;
  background-color: #42576B;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color:#6182a1;
}

.char-count {
  width: fit-content;
  margin: 3px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9em;
  color:#888383;
}

.error-message {
  color: red;
  font-family:'Montserrat', sans-serif;
  font-size: initial;
  font-weight: normal;
}

.success-message {
  color: green;
  font-size: 1.2em;
}

/* ############################################################ */

/* ################## VIDEO PAGE ############################## */

.selector-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.selectors_container {
  display: flex;
  gap: 2em;
}

.selector_dropdown {
  display: none;
  width: 40%;
  min-width: 137px;
  height: 50px;
  text-align: center;
  background-color: #636060;
  color: #fff;
  font-size: 1.4em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selector {
  padding: 0.6em 1.3em;
  margin-bottom: 10px;
  font-size: 1.1em;
  background-color: #42576B;
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

#selector-default {
  background-color: #2f7bc2;
}

.video-grid {
  margin-top: max(7%, 50px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 400px));
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
}

.media-container {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px #222020;
}

.video-container {
  min-width: 225px;
  max-width: 400px;
  aspect-ratio: 1 / 0.6;
}

.video-container:hover .play-button {
  width: 30%;
}

.play-button {
  position: relative;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media-backdrop {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  min-width: 278px;
  height: calc(100vh - 85px);
  min-height: 190px;
  background-color: rgba(34, 32, 32, 90%);
}

.video-box {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 90%;
  min-width: 225px;
  max-height: 80%;
  aspect-ratio: 16/9;
  box-shadow: 0px 0px 15px 15px #000;
  margin-top: 35px;
}

.video-player {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.x-out {
  width: 5%;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 9999;
  cursor: pointer;
}

.x-out:hover {
  width: 6%;
  top: 0.5%;
  right: 0.5%;
}

/* ############################################################ */

/* FOOTER *****************************************/

.gap {
  margin-top: 100px;
}

.contact-info-box {
  float: left;
  margin-left: 3%;
  color: #42576B;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

.contact-info-label {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #222020;
  font-weight: bold;
}

.socialbox {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.social-heading {
  font-size: max(1.2vw, 1.2em);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon_container {
  display: flex;
  gap: 15px;
}

.social-icon {
  width: 3vw;
  min-width: 30px;
}

/* Fixes offset due to icon size */
#youtube-icon {
  margin-top: 15%;
}

.copyright {
  font-size: 0.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* SCREEN SIZE > 1000px */
@media screen and (min-width: 1000px) {
  .grab-box:hover {
    background-color: rgba(0, 0, 0, 80%);
    border: 2px solid #f3f0f0;
  }
  
  .grab-box:hover .gb-button {
    background-color: #f3f0f0;
    color:#222020;
    text-shadow: 0 0 0;
  }
}

/* SCREEN SIZE < 1000px ***************************/
@media screen and (max-width: 1000px) {

  /* NAV BAR **********************/
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  .top-bar_container {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
  }

  .logo_container {
    width: 90%;
  }

  #mobile-menu-icon {
    display: inline;
    font-size: 2rem;
    padding: 0 4vw;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    width: 100%;
    height: fit-content;
    background-color: rgba(56, 54, 54, 0.95);
  }

  .nav-buttons::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(15px) !important;
    backdrop-filter: blur(15px);
    z-index: -1;
  }

  #nav-menu {
    display: none;
  }

  .nav-link {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  /* HIGHLIGHT SECTION *****************/
  #feature-video {
    display: none;
  }

  .feature-backdrop {
    background-image: url("images/HIGHLIGHT_sunset_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  /* GRAB BOX **************************/
  .grab-box {
    height: max-content;
    background-color: rgba(0, 0, 0, 80%);
    border: 1px solid #f3f0f0;
  }

  .grab-box .gb-button {
    background-color: #f3f0f0;
    color:#222020;
    text-shadow: 0 0 0;
  }

  /* MAIN SECTION **********************/

  .service-block {
    height: min-content;
    display: block;
    padding: 7% 0;
  }

  .service-img {
    display: none;
  }

  .service-text_container {
    width: 100%;
  }

   .heading-left {
    clip-path: none;
  }

  .heading-right {
    clip-path: none;
  }

  .article-heading {
    text-align: center;
    margin-bottom: 6%;
    clip-path: polygon(0 100%, 3% 0, 97% 0, 100% 100%);
  }

  .article-text {
    text-align: left;
    text-indent: 1em;
    line-height: 1.5em;
  }
}

/* SCREEN < 800px */
@media screen and (max-width: 800px) {
  .form_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    row-gap: 5%;
    min-width: fit-content;
    padding-bottom: 400px;
  }
  
  .span2 {
    grid-column: 1 / span 1;
  }

  .text-field {
    width: 85%;
    height: 12em;
    resize: none;
    box-sizing: border-box;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    overflow: auto;
  }

  .contact-info-box {
    float: none;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
  }
}

/* SCREEN < 600px */
@media screen and (max-width: 600px) {
  
  .selector-header {
    flex-direction: column;
    justify-content: space-around;
  }

  .selectors_container {
    display: none;
  }

  .selector_dropdown {
    display: block;
  }
}

/* SCREEN < 278px */
@media screen and (max-width: 278px) {
  body {
    overflow-x: auto;
  }

  .nav-bar {
    position: relative;
    overflow: inherit;
  }

  .top-bar_container {
    position: inherit;
  }

  .nav-buff {
    display: none;
  }
}

/* SCREEN HIEGHT < 385px and WIDTH < 1000px */
@media screen and (max-height: 385px) and (max-width: 1000px) {
  .nav-buttons {
    height: calc(100vh - 85px);
    overflow-y: auto;
  }

  .nav-buttons::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
  }
}

/* END MEDIA QUERY ***********************/
